<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://static.nowcoder.com/images/logo_87_87.png"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/global.css}" />
    <title>Org Agenda</title>
</head>
<body>
<div class="nk-container">
    <!-- header -->
    <header class="bg-dark sticky-top">
        <div class="container">
            <!-- navigation -->
            <nav class="navbar navbar-expand-lg navbar-dark">
                <!-- logo -->
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- functions -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item ml-3 btn-group-vertical">
                            <a class="nav-link" href="index.html">Home</a>
                        </li>
                        <li class="nav-item ml-3 btn-group-vertical">
                            <a class="nav-link position-relative" href="site/letter.html">Msgs<span class="badge badge-danger">12</span></a>
                        </li>
                        <li class="nav-item ml-3 btn-group-vertical">
                            <a class="nav-link" href="site/register.html">Register</a>
                        </li>
                        <li class="nav-item ml-3 btn-group-vertical">
                            <a class="nav-link" href="site/login.html">Login</a>
                        </li>
                        <li class="nav-item ml-3 btn-group-vertical dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="http://images.nowcoder.com/head/1t.png" class="rounded-circle" style="width:30px;"/>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item text-center" href="site/profile.html">Profile</a>
                                <a class="dropdown-item text-center" href="site/setting.html">Setting</a>
                                <a class="dropdown-item text-center" href="site/login.html">Logout</a>
                                <div class="dropdown-divider"></div>
                                <span class="dropdown-item text-center text-secondary">nowcoder</span>
                            </div>
                        </li>
                    </ul>
                    <!-- search -->
                    <form class="form-inline my-2 my-lg-0" action="site/search.html">
                        <input class="form-control mr-sm-2" type="search" aria-label="Search" />
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">search</button>
                    </form>
                </div>
            </nav>
        </div>
    </header>

    <!-- content -->
    <div class="main">
        <div class="container agenda-container">
            <!-- Agenda Header -->
            <div class="agenda-header">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h2 class="agenda-title">Org Agenda</h2>
                    <div class="agenda-controls">
                        <button type="button" class="btn btn-outline-primary btn-sm mr-2" id="todayBtn">Today</button>
                        <button type="button" class="btn btn-outline-secondary btn-sm mr-2" id="weekBtn">Week</button>
                        <button type="button" class="btn btn-outline-secondary btn-sm mr-2" id="monthBtn">Month</button>
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addTaskModal">Add Task</button>
                    </div>
                </div>

                <!-- Filter Bar -->
                <div class="filter-bar mb-3">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="btn-group btn-group-sm" role="group">
                                <button type="button" class="btn btn-outline-dark active" data-filter="all">All</button>
                                <button type="button" class="btn btn-outline-success" data-filter="done">Done</button>
                                <button type="button" class="btn btn-outline-secondary" data-filter="todo">Todo</button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control form-control-sm" id="searchInput" placeholder="Search tasks...">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Agenda View -->
            <ul class="agenda-view">
                <!-- Day Entry -->
                <li class="day-entry" th:each="map:${discussPosts}">
                    <div class="day-header">
                        <h4>Monday    16 September 2024</h4>
                    </div>
                    <ul class="agenda-items">
                        <li class="agenda-item todo">
                            <div class="item-time">09:00-10:00</div>
                            <div class="item-content">
                                <span class="todo-keyword">TODO</span>
                                <span class="item-title">Team meeting: Project review</span>
                                <span class="item-tags">
                                    <span class="tag">:work:</span>
                                    <span class="tag">:meeting:</span>
                                </span>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>

            <!-- Add Task Modal -->
            <div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="addTaskModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addTaskModalLabel">Add New Task</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="taskTitle" class="col-form-label">Task Title:</label>
                                    <input type="text" class="form-control" id="taskTitle">
                                </div>
                                <div class="form-group">
                                    <label for="taskDate" class="col-form-label">Date:</label>
                                    <input type="date" class="form-control" id="taskDate">
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="taskStartTime" class="col-form-label">Start Time:</label>
                                        <input type="time" class="form-control" id="taskStartTime">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="taskEndTime" class="col-form-label">End Time:</label>
                                        <input type="time" class="form-control" id="taskEndTime">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="taskStatus" class="col-form-label">Status:</label>
                                    <select class="form-control" id="taskStatus">
                                        <option value="TODO">TODO</option>
                                        <option value="DONE">DONE</option>
                                        <option value="CANCELLED">CANCELLED</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="taskTags" class="col-form-label">Tags (comma-separated):</label>
                                    <input type="text" class="form-control" id="taskTags" placeholder="work, meeting, urgent">
                                </div>
                                <div class="form-group">
                                    <label for="taskDescription" class="col-form-label">Description:</label>
                                    <textarea class="form-control" id="taskDescription" rows="3"></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" id="addTaskBtn">Add Task</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Help Modal -->
            <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="helpModalLabel">Keyboard Shortcuts</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="table table-sm">
                                <tbody>
                                    <tr><td><kbd>a</kbd></td><td>Add new task</td></tr>
                                    <tr><td><kbd>t</kbd></td><td>Go to today</td></tr>
                                    <tr><td><kbd>w</kbd></td><td>Week view</td></tr>
                                    <tr><td><kbd>m</kbd></td><td>Month view</td></tr>
                                    <tr><td><kbd>/</kbd></td><td>Search tasks</td></tr>
                                    <tr><td><kbd>?</kbd></td><td>Show help</td></tr>
                                    <tr><td><kbd>r</kbd></td><td>Refresh agenda</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script th:src="@{/js/global.js}"></script>
<script th:src="@{js/index.js}"></script>
</body>
</html>