<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://static.nowcoder.com/images/logo_87_87.png"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/global.css}" />
    <title>Org Agenda</title>
</head>
<body>
<div class="nk-container">
    <!-- header -->
    <header class="bg-dark sticky-top" th:fragment="header">
        <div class="container">
            <!-- navigation -->
            <nav class="navbar navbar-expand-lg navbar-dark">
                <!-- logo -->
                <a class="navbar-brand" th:href="@{/index}"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- functions -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item ml-3 btn-group-vertical">
                            <a class="nav-link" th:href="@{/index}">Home</a>
                        </li>
                        <li class="nav-item ml-3 btn-group-vertical" th:if="${loginUser==null}">
                            <a class="nav-link" th:href="@{/register}">Register</a>
                        </li>
                        <li class="nav-item ml-3 btn-group-vertical" th:if="${loginUser==null}">
                            <a class="nav-link" th:href="@{/login}">Login</a>
                        </li>
                        <li class="nav-item ml-3 btn-group-vertical dropdown" th:if="${loginUser!=null}">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="http://images.nowcoder.com/head/1t.png" class="rounded-circle" style="width:30px;"/>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item text-center" href="site/profile.html">Profile</a>
                                <a class="dropdown-item text-center" href="site/setting.html">Setting</a>
                                <a class="dropdown-item text-center" th:href="@{/logout}">Logout</a>
                                <div class="dropdown-divider"></div>
                                <span class="dropdown-item text-center text-secondary" th:utext="${loginUser.username}">nowcoder</span>
                            </div>
                        </li>
                    </ul>
                    <!-- search -->
                    <form class="form-inline my-2 my-lg-0" action="site/search.html">
                        <input class="form-control mr-sm-2" type="search" aria-label="Search" />
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">search</button>
                    </form>
                </div>
            </nav>
        </div>
    </header>

    <!-- content -->
    <div class="main">
        <div class="container agenda-container">
            <!-- Agenda Header -->
            <div class="agenda-header">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h2 class="agenda-title">Org Agenda</h2>
                    <div class="agenda-controls">
                        <button type="button" class="btn btn-outline-primary btn-sm mr-2" id="todayBtn">Today</button>
                        <button type="button" class="btn btn-outline-secondary btn-sm mr-2" id="weekBtn">Week</button>
                        <button type="button" class="btn btn-outline-secondary btn-sm mr-2" id="monthBtn">Month</button>
                        <a class="btn btn-primary btn-sm" th:href="@{/agenda/add}">Add Task</a>
                    </div>
                </div>

                <!-- Filter Bar -->
                <div class="filter-bar mb-3">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="btn-group btn-group-sm" role="group">
                                <button type="button" class="btn btn-outline-dark active" data-filter="all">All</button>
                                <button type="button" class="btn btn-outline-success" data-filter="done">Done</button>
                                <button type="button" class="btn btn-outline-secondary" data-filter="todo">Todo</button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control form-control-sm" id="searchInput" placeholder="Search tasks...">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Agenda View -->
            <ul class="agenda-view">
                <!-- Day Entry -->
                <li class="day-entry" th:each="day:${days}">
                    <div class="day-header">
                        <h4 th:text="${day.formattedDate}"></h4>
                    </div>
                    <ul class="agenda-items" th:if="${day.agendaCounts!=0}">
                        <li class="agenda-item todo" th:each="agenda:${day.agendaEntries}">
                            <div class="item-time" >
                                <span th:text="${#dates.format(agenda.startTime,'HH:mm')}">09:00</span>-<span
                                    th:text="${#dates.format(agenda.endTime,'HH:mm')}">10:00</span>
                            </div>
                            <div class="item-content">
                                <span class="todo-keyword">TODO</span>
                                <span class="item-title" th:utext="${agenda.title}">Team meeting: Project review</span>
                                <span class="item-tags">
                                    <span class="tag">:work:</span>
                                    <span class="tag">:meeting:</span>
                                </span>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <!-- footer -->
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script th:src="@{/js/global.js}"></script>
<script th:src="@{js/index.js}"></script>
</body>
</html>