<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://static.nowcoder.com/images/logo_87_87.png"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/global.css}" />
    <title>Org Agenda</title>
</head>
<body>
<div class="nk-container">
    <!-- header -->
    <header class="bg-dark sticky-top" th:fragment="header">
        <div class="container">
            <!-- navigation -->
            <nav class="navbar navbar-expand-md navbar-dark">
                <!-- logo -->
<!--                <a class="navbar-brand" th:href="@{/index}">Agenda</a>-->
<!--                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--                    <span class="navbar-toggler-icon"></span>-->
<!--                </button>-->
                <!-- functions -->
                <div class="navbar-nav w-100 d-flex flex-column flex-md-row" id="navbarSupportedContent">
                    <a class="nav-link ml-3" th:href="@{/index}">Home</a>
                    <a class="nav-link ml-3" th:href="@{/register}" th:if="${loginUser==null}">Register</a>
                    <a class="nav-link ml-3" th:href="@{/login}" th:if="${loginUser==null}">Login</a>
                    <div class="nav-item dropdown ml-3" th:if="${loginUser!=null}">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="http://images.nowcoder.com/head/1t.png" class="rounded-circle" style="width:30px;"/>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
<!--                            <a class="dropdown-item text-center" href="site/profile.html">Profile</a>-->
<!--                            <a class="dropdown-item text-center" href="site/setting.html">Setting</a>-->
                            <a class="dropdown-item text-center" th:href="@{/logout}">Logout</a>
                            <div class="dropdown-divider"></div>
                            <span class="dropdown-item text-center text-secondary" th:utext="${loginUser.username}">nowcoder</span>
                        </div>
                    </div>
                    <!-- search -->
<!--                    <form class="form-inline my-2 my-lg-0" action="site/search.html">-->
<!--                        <input class="form-control mr-sm-2" type="search" aria-label="Search" />-->
<!--                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">search</button>-->
<!--                    </form>-->
                </div>
            </nav>
        </div>
    </header>

    <!-- content -->
    <div class="main">
        <div class="container agenda-container">
            <!-- Agenda Header -->
            <div class="agenda-header">
                <div class="row mb-3">
                    <div class="col-12 col-md-6 mb-2 mb-md-0">
                        <h2 class="agenda-title mb-0">Org Agenda</h2>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="agenda-controls d-flex flex-wrap justify-content-md-end">
                            <a class="btn btn-outline-secondary btn-sm mr-1 mb-1" th:href="@{/index(current=${current-1})}"> &xlarr; </a>
                            <a class="btn btn-outline-primary btn-sm mr-1 mb-1" th:href="@{/index}">Today</a>
                            <a class="btn btn-outline-secondary btn-sm mr-1 mb-1" th:href="@{/index(current=${current+1})}"> &xrarr; </a>
                            <a class="btn btn-primary btn-sm mb-1" th:href="@{/add}">Add Task</a>
                        </div>
                    </div>
                </div>

                <!-- Filter Bar -->
<!--                <div class="filter-bar mb-3">-->
<!--                    <div class="row">-->
<!--                        <div class="col-md-8">-->
<!--                            <div class="btn-group btn-group-sm" role="group">-->
<!--                                <button type="button" class="btn btn-outline-dark active" data-filter="all">All</button>-->
<!--                                <button type="button" class="btn btn-outline-success" data-filter="done">Done</button>-->
<!--                                <button type="button" class="btn btn-outline-secondary" data-filter="todo">Todo</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>

            <!-- Agenda View -->
            <ul class="agenda-view">
                <!-- Day Entry -->
                <li class="day-entry" th:each="day:${days}">
                    <div class="day-header">
                        <h4 th:text="${day.formattedDate}"></h4>
                    </div>
                    <ul class="agenda-items" th:if="${day.agendaCounts!=0}">
                        <li th:class="|agenda-item ${agenda.type==0?'todo':'done'}|" th:each="agenda:${day.agendaEntries}">
                            <div class="item-time" >
                                <span th:text="${#dates.format(agenda.startTime,'HH:mm')}">09:00</span>-<span
                                    th:text="${#dates.format(agenda.endTime,'HH:mm')}">10:00</span>
                            </div>
                            <div class="item-content">
                                <span class="todo-keyword" th:text="${agenda.type==0?'TODO':'DONE'}">TODO</span>
                                <a class="item-title" th:utext="${agenda.title}" th:href="@{|/update/${agenda.id}|}">Team meeting: Project review</a>
<!--                                <span class="item-tags">-->
<!--                                    <span class="tag">:work:</span>-->
<!--                                    <span class="tag">:meeting:</span>-->
<!--                                </span>-->
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <!-- footer -->
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script th:src="@{/js/global.js}"></script>
<script th:src="@{js/index.js}"></script>
</body>
</html>