<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nowcoder.community.dao.AgendaEntryMapper">

    <sql id="selectFields">
        id, user_id, title, content, type, create_time, start_time, end_time, repeat_days
    </sql>

    <sql id="insertFields">
        user_id, title, content, type, create_time, start_time, end_time, repeat_days
    </sql>

    <insert id="insertAgendaEntry" parameterType="AgendaEntry" keyProperty="id">
        insert into agenda_entry (<include refid="insertFields"></include>)
        values (#{userId}, #{title}, #{content}, #{type}, #{createTime}, #{startTime}, #{endTime}, #{repeatDays})
    </insert>

    <select id="selectAgendaEntries" resultType="AgendaEntry">
        select <include refid="selectFields"></include>
        from agenda_entry
        where user_id = #{userId}
        <if test="repeatMode==0">
            and repeat_days = 0
        </if>
        <if test="repeatMode!=0">
            and repeat_days != 0
        </if>
        order by start_time desc
    </select>

    <select id="selectAgendaEntriesByDay" resultType="AgendaEntry">
        select <include refid="selectFields"></include>
        from agenda_entry
        where user_id = #{userId}
        and start_time >= #{startTime}
        and start_time &lt; DATE_ADD(#{startTime}, INTERVAL 24 HOUR)
        and repeat_days = 0
        order by start_time asc
    </select>

    <select id="selectById" resultType="AgendaEntry">
        select <include refid="selectFields"></include>
        from agenda_entry
        where id = #{id}
    </select>

    <update id="updateAgendaEntry">
        update agenda_entry
        set title = #{title},
            content = #{content},
            type = #{type},
            start_time = #{startTime},
            end_time = #{endTime},
            repeat_days = #{repeatDays}
        where id = #{id}
    </update>


</mapper>